<div class="postcard hero front">
  <i class="icon-main"></i>
  <h1>Hello stranger</h1>
  <div class="self-padding">
    <h3>I may have just met you but I want you to know, that you are not alone.</h3>
    <h4>
    <p>
      You do not have to take this path by yourself, it can be daunting and it will be dangerous.
    </p>
    <p>
      So take this step with us, let us walk together on this journey we call life.
    </p></h4>
  </div>
  <%= link_to "Join the Journey", new_user_session_path, class: "btn btn-post btn-lg btn-primary"  %>
</div>
