<div class="row row-centered">
  <div class="col-md-6 col-sm-8 col-centered">
    <section class="post_form">
      <div class="posts">
        <%= render @posts %>
      </div>
      <%= will_paginate @posts %>
    </section>
  </div>
</div>
